Pro Sync Framework/Chapter IX/Code/SyncPeers/SyncPeers/Service References/RemoteProviderProxy/Microsoft.Synchronization.Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" />
  <xs:complexType name="DbSyncContext">
    <xs:sequence>
      <xs:element name="_dataSet" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_isPeerOutdated" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" name="_madeWithForgottenKnowledge" nillable="true" type="q1:ForgottenKnowledge" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" name="_madeWithKnowledge" nillable="true" type="q2:SyncKnowledge" />
      <xs:element name="_scopeProgress" nillable="true" type="tns:DbSyncScopeProgress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DbSyncContext" nillable="true" type="tns:DbSyncContext" />
  <xs:complexType name="DbSyncScopeProgress">
    <xs:sequence>
      <xs:element name="_dataSet" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_tablesProgress" nillable="true" type="tns:ArrayOfDbSyncTableProgress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DbSyncScopeProgress" nillable="true" type="tns:DbSyncScopeProgress" />
  <xs:complexType name="ArrayOfDbSyncTableProgress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DbSyncTableProgress" nillable="true" type="tns:DbSyncTableProgress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDbSyncTableProgress" nillable="true" type="tns:ArrayOfDbSyncTableProgress" />
  <xs:complexType name="DbSyncTableProgress">
    <xs:sequence>
      <xs:element name="_conflicts" nillable="true" type="tns:ArrayOfDbSyncConflict" />
      <xs:element name="_dataTable" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_deletes" type="xs:int" />
      <xs:element name="_inserts" type="xs:int" />
      <xs:element name="_rowIndex" type="xs:int" />
      <xs:element name="_rowsApplied" type="xs:int" />
      <xs:element name="_rowsFailed" type="xs:int" />
      <xs:element name="_tableName" nillable="true" type="xs:string" />
      <xs:element name="_updates" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DbSyncTableProgress" nillable="true" type="tns:DbSyncTableProgress" />
  <xs:complexType name="ArrayOfDbSyncConflict">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DbSyncConflict" nillable="true" type="tns:DbSyncConflict" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDbSyncConflict" nillable="true" type="tns:ArrayOfDbSyncConflict" />
  <xs:complexType name="DbSyncConflict">
    <xs:sequence>
      <xs:element name="_errorMessage" nillable="true" type="xs:string" />
      <xs:element name="_localRows" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_remoteRows" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_stage" type="tns:DbSyncStage" />
      <xs:element name="_type" type="tns:DbConflictType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DbSyncConflict" nillable="true" type="tns:DbSyncConflict" />
  <xs:simpleType name="DbSyncStage">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ReadingMetadata" />
      <xs:enumeration value="WritingMetadata" />
      <xs:enumeration value="ApplyingInserts" />
      <xs:enumeration value="ApplyingUpdates" />
      <xs:enumeration value="ApplyingDeletes" />
      <xs:enumeration value="ApplyingChanges" />
      <xs:enumeration value="SelectingChanges" />
      <xs:enumeration value="CleanupMetadata" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DbSyncStage" nillable="true" type="tns:DbSyncStage" />
  <xs:simpleType name="DbConflictType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ErrorsOccurred" />
      <xs:enumeration value="LocalUpdateRemoteUpdate" />
      <xs:enumeration value="LocalUpdateRemoteDelete" />
      <xs:enumeration value="LocalDeleteRemoteUpdate" />
      <xs:enumeration value="LocalInsertRemoteInsert" />
      <xs:enumeration value="LocalDeleteRemoteDelete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DbConflictType" nillable="true" type="tns:DbConflictType" />
</xs:schema>