Pro Sync Framework/Chapter IX/Code/SyncPeers/SyncPeers/Service References/RemoteProviderProxy/Microsoft.Synchronization.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SyncIdFormatGroup">
    <xs:sequence>
      <xs:element ref="xs:schema" />
      <xs:any />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ForgottenKnowledge">
    <xs:sequence>
      <xs:element ref="xs:schema" />
      <xs:any />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SyncKnowledge">
    <xs:sequence>
      <xs:element ref="xs:schema" />
      <xs:any />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeBatch">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##local" processContents="skip" />
    </xs:sequence>
    <xs:attribute ref="ser:FactoryType" />
  </xs:complexType>
  <xs:element name="ChangeBatch" nillable="true" type="tns:ChangeBatch" />
  <xs:simpleType name="ConflictResolutionPolicy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ApplicationDefined" />
      <xs:enumeration value="DestinationWins" />
      <xs:enumeration value="SourceWins" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConflictResolutionPolicy" nillable="true" type="tns:ConflictResolutionPolicy" />
  <xs:complexType name="SyncSessionStatistics">
    <xs:sequence>
      <xs:element name="changesApplied" type="xs:unsignedInt" />
      <xs:element name="changesFailed" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SyncSessionStatistics" nillable="true" type="tns:SyncSessionStatistics" />
</xs:schema>